<!-- views/applications/edit.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1>Edit student informations</h1>

  <form 
  action="/student/<%=student._id %>/update?_method=PUT"
  method="POST">

  <label for="name"> Student Name:</label>
  <input type="text" name="name" id="name" value = "<%= student.name %>"/>

  <label for="email">Email:</label>
  <input name="email" id="email" value = "<%= student.email %>"/>

  <label for="notes">Notes:</label>
  <input name="notes" id="notes" value = "<%= student.notes %>"/> 

  <label for="school">School:</label>

  <select id="school" name="school">
    <option
      value="Bahrain"
      <%= student.school === "Bahrain" ? "selected" : "" %>
    >
    Bahrain
  </option>

    <option
      value="AlNoor"
      <%= student.school === "AlNoor" ? "selected" : "" %>
    >
      AlNoor
    </option>

    <option
      value="APG"
      <%= student.school === "APG" ? "selected" : "" %>
    >
    APG
    </option>
  </select>

  <button type="submit">
    Update
  </button>
</form>

</body>
</html>
