<!-- views/applications/edit.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Edit</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1>Show Student Informations</h1>
  <div id="detailsDiv">
  <div class="details">

    Name: <%= student.name %>
  </div>
  <div class="details">

    Email: <%= student.email %>

  </div>

  <div class="details">
  Notes:<%= student.notes %>
</div>
<div class="details" id="lastDetails">
  School: <%= student.school %>
</div>
</div>  

  </select>
  <button type="submit" id="editButton">
    <a id ="editButton" href="/student/<%=student._id %>/edit">Edit Student</a>
  </button>
<form
id="deleteDiv"
action="/student/<%=student._id %>/delete?_method=DELETE" method="POST"
    >
    <div>
      <button id="deleteButton" type="submit">Delete Student</button>
    </div>  
    
</form>

</body>
</html>
